{% extends "base.html.twig" %}

{% block title %}The main index file{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="./css/styles.css">
{% endblock %}

{% block body %}
<!--
source: https://www.w3schools.com/howto/howto_js_todolist.asp  (modified by netprogs.pl for the course purposes)
-->
<div class="header">
  <h2>My To Do List</h2>
  <form action="{{ path('todo_store') }}" method="POST">
    <input type="text" id="myInput" placeholder="Task title..." />
    <button type="submit" class="addBtn">Add a task</button>
  </form>
</div>

<ul>
  {% for todoListItem in todoListItems %}
    <li class="{{ todoListItem.status == 'done' ? 'checked' : '' }}">
      <a href="{{ path('todo_switch_status', {'id': todoListItem.id}) }}">
        <span class="task-list-item">{{ todoListItem.title }}</span>
      </a>
      <a onclick="return confirm('Are you sure to delete?')" href="{{ path('todo_delete', {'id': todoListItem.id}) }}">
        <span class="close">X</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
